.read-more-bg{
    background-color: #9BD1C7 !important;
}
.read-more-bg:hover {
    background-color: #ffbb00 !important;
  }
.title{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    margin-bottom: 20px;
    text-align: center;
    text-transform: capitalize;
    color: #ff0000;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 900;

}
.title::before, .title::after{
    content: "";
    height: 3px;
    background-color: black;
    display: block;
}